<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="mtrtApp.image.detail.title">Image</span> {{ image.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mtrtApp.image.image">Image</span></dt>
                <dd>
                    <div *ngIf="image.image">
                        <a (click)="openFile(image.imageContentType, image.image)">
                            <img [src]="'data:' + image.imageContentType + ';base64,' + image.image" style="max-width: 100%;" alt="image image"/>
                        </a>
                        {{ image.imageContentType }}, {{ byteSize(image.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="mtrtApp.image.images">Images</span></dt>
                <dd>
                    <div *ngIf="image.images">
                        <a [routerLink]="['/treat', image.images?.id, 'view']">{{ image.images?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
