<div>
    <h2 id="page-heading">
        <span jhiTranslate="mtrtApp.treat.home.title">Treats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-treat" [routerLink]="['/treat/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mtrtApp.treat.home.createLabel">
            Create a new Treat
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="treats?.length === 0">
        <span jhiTranslate="mtrtApp.treat.home.notFound">No treats found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="treats && treats.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="crock"><span jhiTranslate="mtrtApp.treat.crock">Crock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="mtrtApp.treat.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="mtrtApp.treat.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purchaseLink"><span jhiTranslate="mtrtApp.treat.purchaseLink">Purchase Link</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generatedLink"><span jhiTranslate="mtrtApp.treat.generatedLink">Generated Link</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="mtrtApp.treat.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image.id"><span jhiTranslate="mtrtApp.treat.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let treat of treats ;trackBy: trackId">
                    <td><a [routerLink]="['/treat', treat.id, 'view']">{{ treat.id }}</a></td>
                    <td>{{ treat.crock }}</td>
                    <td>{{ treat.title }}</td>
                    <td>{{ treat.description }}</td>
                    <td>{{ treat.purchaseLink }}</td>
                    <td>{{ treat.generatedLink }}</td>
                    <td>
                        {{ treat.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="treat.image">
                            <a [routerLink]="['/image', treat.image?.id, 'view']" >{{ treat.image?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/treat', treat.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/treat', treat.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(treat)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="treats && treats.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
