<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-donator-heading" jhiTranslate="mtrtApp.donator.home.createOrEditLabel">Create or edit a Donator</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtrtApp.donator.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtrtApp.donator.surname" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                           formControlName="surname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtrtApp.donator.paymentDate" for="field_paymentDate">Payment Date</label>
                    <div class="input-group">
                        <input id="field_paymentDate" type="text" class="form-control" name="paymentDate" ngbDatepicker #paymentDateDp="ngbDatepicker" formControlName="paymentDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtrtApp.donator.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtrtApp.donator.message" for="field_message">Message</label>
                    <input type="text" class="form-control" name="message" id="field_message"
                           formControlName="message"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtrtApp.donator.anonymous" for="field_anonymous">Anonymous</label>
                    <input type="checkbox" class="form-control" name="anonymous" id="field_anonymous"
                           formControlName="anonymous"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtrtApp.donator.donators" for="field_donators">Donators</label>
                    <select class="form-control" id="field_donators" name="donators" formControlName="donators">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="treatOption.id === editForm.get('donators')!.value?.id ? editForm.get('donators')!.value : treatOption" *ngFor="let treatOption of treats; trackBy: trackById">{{ treatOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
